<nav class="navbar navbar-expand-md navbar-dark bg-blue">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/']">Online Bus Booking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <form class="form-horizontal" role="form">
        <h3 class="text-center pt-3 pb-3 ">Online Reservation</h3>
        <table class="table ">
            <thead>
             <td class="text-capitalize"></td>
             <td>ThursDay 12 , 2018</td>
             <td>BusApp</td>
            </thead>  
            </table>
            <table class="table ps_details">
                <tr>
                  <th>Passenger Details</th>
                  <th>Ticket Id</th>
                  <th>Seat No</th>
                  <th>Total Fare</th>
                  
                </tr>
                <tr>
                  <td><b></b> <br>
                    <span></span> <br>
                    <span></span>
                  </td>
      
                  <td></td>
                  <td>
                   <span></span> 
                  </td>
                  <td></td>
                </tr>
              </table>
              <table class="table ps_details ">
                <tr>
                  <th>Bus Name</th>
                  <th>Reporting Time </th>
                  <th>Departure Time</th>
                  
                </tr>
                <tr>
                  <td> <br>
                  <span> <em>Coach Type: </em> </span>
                  </td>
                  <td>Before 30 mints</td>
                  <td></td>
                </tr>
              </table>
              <p style="color:red">** Please Bring this copy to ticket counter for collect your ticket </p>
        


    </form> 
</div> 
